{% extends 'base.html' %}

{% block content %}
<div class="row mt-3"></div>
<h1>{% block title %} Check for Alerts {% endblock %}</h1>

<form method="post">

    <div class="form-group">
        <label for="ticket">Ticket</label>
        <textarea name="ticket" placeholder="Post ticket"
                  class="form-control">{{ request.form['ticket'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}