{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Stock Alert Posts {% endblock %}</h1>

<form method="post">

    <div class="form-group">
        <label for="ticket">Ticket</label>
        <textarea name="ticket" placeholder="Post ticket"
                  class="form-control">{{ request.form['ticket'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="ceilings">Ceiling</label>
        <textarea name="ceilings" placeholder="Post ceiling"
                  class="form-control">{{ request.form['ceilings'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="floors">Floor</label>
        <textarea name="floors" placeholder="Post floor"
                  class="form-control">{{ request.form['floors'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}