{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="ticket">Ticket</label>
        <textarea name="ticket" placeholder="Post ticket"
                  class="form-control">{{ request.form['ticket'] or post['ticket'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="ceilings">Ceilings</label>
        <textarea name="ceilings" placeholder="Post ceilings"
                  class="form-control">{{ request.form['ceilings'] or post['ceilings'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="floors">Floors</label>
        <textarea name="floors" placeholder="Post floors"
                  class="form-control">{{ request.form['floors'] or post['floors'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>

{% endblock %}