{% extends 'base.html' %}

{% block content %}
<div class="row mt-3"></div>
    <h1>{% block title %} Welcome to StockAlerts - {{ current_user.username }} {% endblock %}</h1>
    <style>
        .stock-table {
            border-collapse: collapse;
            width: 100%;
        }
        
        .stock-table th, .stock-table td {
            padding: 12px;
            text-align: left;
        }
        
        .stock-table th {
            background-color: #f2f2f2;
            border-bottom: 1px solid #ddd;
        }
        
        .stock-table tr {
            border-bottom: 1px solid #ddd;
        }
        
        .stock-table td.ticket {
            font-weight: bold;
            color: blue;
        }
        
        .stock-table tr:last-child {
            border-bottom: none;
        }
        
        .stock-table tr:hover {
            background-color: #f5f5f5;
        }
        
        .edit-button {
            text-align: center;
        }
        
        .edit-button a {
            display: inline-block;
            padding: 6px 12px;
            background-color: #ffc107;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
    <table class="stock-table">
        <tr>
            <th>Ticket</th>
            <th>Created</th>
            <th>Ceiling</th>
            <th>Floor</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td class="ticket">{{ post['ticket'] }}</td>
                <td>{{ post['created'] }}</td>
                <td>${{ post['ceilings'] }}</td>
                <td>${{ post['floors'] }}</td>
                <td>${{ prices[loop.index0] }}</td>
                <td class="edit-button">
                    {% if db_implementation == 'sqlite' %}
                        <a href="{{ url_for('edit', id=post['id']) }}">Edit</a>
                    {% elif db_implementation == 'mysql' %}
                        <a href="{{ url_for('mysql_edit', id=post['id']) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
